{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}
<center>
    <h1>Team</h1>
<div class="war-container">

    <img src="https://66.media.tumblr.com/ebef7259b59fef386b1190fcdbdfc141/tumblr_newawvWsXR1s2k6zqo1_500.jpg"><br/>
	Gary Amaro<br/>
	<img src="https://d.wattpad.com/story_parts/179459282/images/1411547701818a4d.jpg"><br/>
	Ma. Izabelle Repaso<br/>
	<img src="http://bandera.inquirer.net/files/2015/07/cacai-bautista.jpg"><br/>
	Almira Delmo<br/>
</div>
{% endblock %}
